.navbar-brand:hover{
        background-color:blue;
    
}

.center{
    width: 300px;
    display: block;
    height:300px;
    margin: 90px;
   
   
    
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh; /* This makes sure the container takes the full height of the viewport */
}

.container {
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto; /* This centers the image horizontally within the container */
}


.data:hover{
    text-align: center;
    color: blue;
    padding-top: 60px;
}



.table{
   
    margin-left: 60px;
    padding-top: 60px;
    font-size: 20px;
    background-image: url("port.jpg");

}

.log{
    padding-top: 90px;
}
.contact{
    text-decoration: underline;
    text-overflow: clip;
    font-size: 25px;
}
.cont{
    margin: 0%;
    padding-top: 50px;
    
}










